@inherits LayoutComponentBase

<PageTitle>Projet V3R employés</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header class="top-row">
            <div>
                <p>Logo V3r</p>
            </div>
            <div>
                <p>Header</p>
            </div>
        </header>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
