@inherits LayoutComponentBase
@using ProjetV3R_Employe.Data.Models
@using ProjetV3R_Employe.Data.Services
@inject AuthService AuthService
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims

<PageTitle>Projet V3R Employés</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header>
            @if (userName != null && userRole != null)
            {
                <p>Connecté en tant que : @userName (@userRole)</p>
                <button class="btn btn-danger" @onclick="Logout">Déconnexion</button>
            }
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    [Inject]
    private NavigationManager Navigation { get; set; } = null!;

    private string? userName;
    private string? userRole;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userName = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
            userRole = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
        }
    }

    private async Task Logout()
    {
        await AuthService.SignOutAsync(); // Déconnexion via AuthService
        Navigation.NavigateTo("/"); // Retour à la page de connexion
    }
}
