@page "/gestion-fournisseurs"
@using ProjetV3R_Employe.Shared.ComposantsGestionFournisseurs
@using ProjetV3R_Employe.Data.Models;
@inject NavigationManager Navigation

<div class="container-fluid employe-container">
<h2>Gestion des Fournisseurs</h2>
 <CompListeFournisseurs /> 
</div>
@code {

}
