@page "/Gestion-employes"
@inject NavigationManager Navigation

<PageTitle>Gestion employe</PageTitle>

<h1>Gestion employe</h1>

<div class="container-fluid  formulaire-container">
    <div>
        <p>Liste des employes actuels avec leurs roles</p>
    </div>


    <div>
        <p>Ajouter un employe</p>
        <p>Entrez le mail</p>
        <p>Entrez le role</p>
    </div>


    <div>
        <p>Supprimer un employe</p>
        <p>Entrez le mail</p>
    </div>
</div>
