@page "/gestion-fournisseurs"
@using ProjetV3R_Employe.Shared.ComposantsGestionFournisseurs
@using ProjetV3R_Employe.Data.Models;
@inject NavigationManager Navigation


<h2>Gestion des Fournisseurs</h2>
 <CompListeFournisseurs /> 

@code {

}
