@page "/gestion-employes"
@using ProjetV3R_Employe.Data.Models;
@using ProjetV3R_Employe.Shared.ComposantsGestionEmploye


<h2>Gestion des Employés</h2>

<button class="btn btn-success mb-3" @onclick="AfficherFormulaireAjout">Ajouter un employé</button>

@if (afficherAjout)
{
    <CompAjoutEmploye OnEmployeAjoute="RafraichirListe" />
}

@if (employeAEditerId.HasValue)
{
    <CompModifEmploye EmployeId="employeAEditerId.Value" OnModificationTerminee="TerminerModification" />
}
else
{
    <CompListeEmploye OnModifier="ModifierEmploye" />
}


@code {
    private bool afficherAjout = false;
    private CompListeEmploye? listeEmployes;

    private void AfficherFormulaireAjout()
    {
        afficherAjout = true;
    }

    private async Task RafraichirListe()
    {
        if (listeEmployes != null)
        {
            await listeEmployes.RechargerListe();
        }
        afficherAjout = false;
    }


    private int? employeAEditerId;

    private void ModifierEmploye(int employeId)
    {
        employeAEditerId = employeId;
    }

    private void TerminerModification()
    {
        employeAEditerId = null;
    }
}