@page "/gestion-employes"
@using ProjetV3R_Employe.Shared.ComposantsGestionEmploye
@inject EmployeService EmployeService

<h3>Gestion des Employés</h3>

<button class="btn btn-success" @onclick="AfficherFormulaireAjout">Ajouter un Employé</button>

@if (formulaireVisible)
{
    <CompAjoutEmploye OnEmployeAjoute="RechargerEmployes" />
}

<CompListeEmploye @ref="listeEmployes" OnModifierEmploye="EditerEmploye" />

@code {
    private bool formulaireVisible;
    private User employeSelectionne = new User();

    private void AfficherFormulaireAjout()
    {
        employeSelectionne = new User(); // Préparer pour l'ajout
        formulaireVisible = true;
    }

    private void EditerEmploye(User employe)
    {
        employeSelectionne = employe; // Charger l'employé existant pour édition
        formulaireVisible = true;
    }

    private async Task RechargerEmployes()
    {
        formulaireVisible = false;
        await listeEmployes.RechargerAsync();
    }
}
