@page "/modeles-courriels"

<PageTitle>Gestion des modeles de courriels</PageTitle>

<h1>Gestion des modeles de courriels</h1>


<div>
    <div>
        <p>choisir le type de modele</p>
    </div>
    <div>
        <p>ajouter un modele modele</p>
    </div>
</div>


<div>
    <div>
        <p>afficher le modele selon la selection</p>
    </div>
    <div>
        <p>bouton enregistrer</p>
    </div>
    <div>
        <p>bouton annuler</p>
    </div>
</div>