@page "/"
@page "/connexion"

<PageTitle>Gestion employe</PageTitle>

<h1>Gestion employe</h1>

<div>
    <div>
        <p>Etat du fournisseur</p>
        <p>En attente, acceptés, refusés, a reviser</p>
    </div>
    <div>
        <p>produits et services</p>
        <p>liste des produits et services</p>
    </div>

    <div>
        <p>categorie de travaux</p>
        <p>entrepreneur general, specialisé</p>
    </div>

    <div>
        <p>Region administrative</p>
        <p>liste des fournisseurs selon les regions selectionnes</p>
    </div>


    <div>
        <p>Villes</p>
        <p>liste des fournisseurs selon les villes selectionnes</p>
    </div>
</div>

<div>
    <div>
        <p>Etat du fournisseur</p>
        <p>logo</p>
    </div>
    <div>
        <p>Noms Fournisseurs</p>
        <p>nom</p>
    </div>

    <div>
        <p>categorie de travaux</p>
        <p>entrepreneur general, specialisé</p>
    </div>

    <div>
        <p>Region administrative</p>
        <p>liste des fournisseurs selon les regions selectionnes</p>
    </div>


    <div>
        <p>Villes</p>
        <p>liste des fournisseurs selon les villes selectionnes</p>
    </div>
</div>