@page "/inscription-fournisseurs"
@using ProjetV3R_Employe.Shared.ComposantInscriptionFournisseur
@using ProjetV3R_Employe.Data.Models;
@inject NavigationManager Navigation

<div class="container-fluid employe-container">
    <h2>Demande d'inscriptions des Fournisseurs</h2>
    <CompListeInscriptionFournisseurs />
</div>
